
@{
    ViewBag.Title = "LostPassword";
    Layout = "~/Views/Shared/_LayoutNonLoggedIn.cshtml";
    <br /><br />
}
<center><h2>Enter your mail</h2>

@using (Html.BeginForm())

{
    <input required type="email" name="email" id="email"/><br/><br/>

    <input type="submit" value="send" style="background-color: #4b0082; margin-left: 620px;color: #ffffff" class="btn btn-primary "/>
    <br/><br/><br/><br/>
}</center>
