
@{
    ViewBag.Title = "error";
    Layout = "~/Views/Shared/_LayoutNonLoggedIn.cshtml";
}


<br/><br/>
<div style="margin-left: 500px">
    <h2> @ViewBag.worngEmailOrPass</h2>
    <h2> @ViewBag.worngemail</h2>

  

    <a href="/Home/Login" style="background-color: #4b0082" class="btn btn-primary btn-block ">Login Again</a>

   <br/><br/><br/><br/>
</div>



