
@{
    ViewBag.Title = "InternalServer";
    Layout = "~/Views/Shared/_LayoutNonLoggedIn.cshtml";
}
<br /><br /><br />
<div style="text-align: center;">
    <h2>The Web server (running the Web Site) encountered an unexpected condition that prevented it from fulfilling your request , please try again later.</h2>
</div>
<br/><br/><br/>

