
@{
    ViewBag.Title = "error";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<h2>Error, this request period is in between or before  other requests peroid you have requestd before, please check your vacations history for more details.</h2>

